<mat-card class="card ">
  <mat-card-content class="card__data">
    <ul class="card__content">
      <li>&copy; Cofnders 2019</li>
      <li matTooltip="About Page"><a routerLink="/about">About</a></li>
      <li matTooltip="Terms Page"><a routerLink="/terms">Terms</a></li>
      <li matTooltip="Privacy Policy Page"><a routerLink="/privacy">Privacy Policy</a></li>
      <li matTooltip="Trust & Safety Page"><a routerLink="/trust">Trust & Safety</a></li>
      <li>Blog Press</li>
      <li>Careers</li>
    </ul> 
  </mat-card-content>
</mat-card>