.header{
    height: 6rem;
    color: #fff;

    &__nav {
        height: 100%;

        @supports (display: flex) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
        }

        .logo {
            &__link {
                height: 100%;
                margin-right: 2rem;

                @media only screen and (max-width:360px){
                    margin-right: auto;
                }
            }

            &__link:link, &__link:visited {
                text-decoration: none;
            }

            &__box {
                height: 100%;
                min-width: 20%;
                padding: .5rem;
                margin-left: -1.6rem;

                img {
                    height: 100%;
                }
            }
        }

        .routes {
            height: 100%;
            margin-right: auto;

            @supports (display: flex) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
            }

            &__box {
                height: 100%;
                width: 50%;
                display: inline-block;

                &:not(:last-child){
                    margin: 0 1.25rem 0 1rem;
                }
            }

            &__links {
                height: 100%;
                -webkit-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in;
                padding: .5rem;

                @supports (display: flex) {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                }
            }

            &__links:link, &__links:visited {
                text-decoration: none;
                color: #fff;
            }

            &__links:hover>.routes__icon{
                fill: #ffda00;
                -webkit-transform: scale(1.2);
                        transform: scale(1.2);
            }
            &__links:hover span {
                color: #ffda00;
            }

            &__icon {
                margin: 0 0 2px 0;
                fill: #fff;
                path {
                    fill: inherit;
                }
            }

            &__text {
                font-size: 1.2rem;
                display: inline-block;
            }
        }

        .controls {
            font-size: 1.8rem;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            transform: translateX(2.1rem);

            @media only screen and (max-width:360px){
                margin-left: 1rem;
            }

            .user__menu {
                &--button {
                    height: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    background-color: inherit;
                    border: none;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    padding: .1rem;
                }

                &--image{
                    height: 5rem;
                    border-radius: 50%;
                    width: 5rem;
                    padding: .2rem;

                    @media only screen and (max-width:410px){
                        height: 4.3rem;
                        width: 4.3rem;
                        margin-right: auto;
                    }
                }

                &--name{
                    color: #fff;
                    margin-left: 1rem;
                    display: inline-block;

                    @media only screen and (max-width:650px){
                        font-size: 1.5rem;
                    }

                    @media only screen and (max-width:450px){
                        display: none;
                    }
                }

            }
        }
    }
}

.active {
    border-bottom: 3px solid #00BCD4;
}

.btn--sign-out {
    font-size: 1.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
}

.btn--sign-in:focus {
    outline: -webkit-focus-ring-color auto 5px !important;
}
