<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid navbar-inline">
            <a class="navbar-brand" routerLink="/ideas"><img src="../../../assets/logo-black-compressor.png" alt="Cofnders Logo"></a>
            <div class=" navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/ideas">Ignite Your Idea</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/funds">Invest in Ideas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/ideas">Contact</a>
                    </li>
                </ul>
            </div>
            <div (click)="toggle()" (keyup.enter)="toggle()" class="menu--toggler" tabindex="0">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <title>menu</title>
                    <path d="M16.4 9h-12.8c-0.552 0-0.6 0.447-0.6 1s0.048 1 0.6 1h12.8c0.552 0 0.6-0.447 0.6-1s-0.048-1-0.6-1zM16.4 13h-12.8c-0.552 0-0.6 0.447-0.6 1s0.048 1 0.6 1h12.8c0.552 0 0.6-0.447 0.6-1s-0.048-1-0.6-1zM3.6 7h12.8c0.552 0 0.6-0.447 0.6-1s-0.048-1-0.6-1h-12.8c-0.552 0-0.6 0.447-0.6 1s0.048 1 0.6 1z"></path>
                </svg>
            </div>
        </div>
         <ul id="topbar" class="navbar-mobile" [hidden]="navbarSmallDisplay">
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ideas">Ignite Your Idea</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/funds">Invest in Ideas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/ideas">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<div class="home-wrap">
    <div class="home-inner">
        <div class="landing-detail">
            <div class="feature-part" style="width:100%">
                <div class="row landing-des" style="margin-right: 0;margin-left: 0">
                    <div class="col-md-6">
                        <div class="feature-detail text-center">
                            <p class="feature-para"> Nothing is more powerful than The Idea, whose time has come.</p>
                            <a routerLink="/ideas" class="btn btn-primary btn-submit">Begin Now</a>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 0;">
                        <img style="width:100%;max-height:100vh" src="../../../assets/012-compressor.jpg" alt="Back Ground Image">
                    </div>
                </div>
                <div class="row landing-mobile" style="margin-right: 0;margin-left: 0">
                    <div class="col-12" style="width:100%">
                        <div class="feature-detail text-center">
                            <p class="feature-para"> Nothing is more powerful than The Idea, whose time has come.
                            </p>
                            <a routerLink="/ideas" class="btn btn-primary btn-submit">Begin Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="features offset">
    <div class="narrow">
        <div class="feature-part">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="../../../assets/02-compressor.jpg" alt="Image">
                </div>
                <div class="col-md-6">
                    <div class="feature-detail">
                        <h3 class="feature-heading feature-heading-1">Who we are</h3>
                        <p class="feature-para">Cofnders is a livewire community of startup Founders, Mentors,
                            Investors and Incubators. We bring together people with expertise in Design,
                            Technology, Finance, Strategy, Marketing and Investment to make your Ideas work and
                            win. We exist to make Ideas thrive.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="feature-part" id="Ignite your Idea">
            <div class="row mobile-dir">
                <div class="col-md-6 mobile-order-1">
                    <div class="feature-detail">
                        <h3 class="feature-heading feature-heading-2">Ignite your Idea</h3>
                        <p class="feature-para">If Ideas rule the world Its enactors become the Kings. Everything
                            begins with an Idea and everyone has an Idea! If you have the grit to put it in action,
                            Cofnders will enable you with the right tools.
                        </p>
                        <div class="btncenter">
                            <a routerLink="/ideas" class="btn btn-primary btn-submit">Ignite Your Idea</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mobile-order-2">
                    <img src="../../../assets/03-compressor.jpg" alt="Image">
                </div>
            </div>
        </div>
        <div class="feature-part">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="../../../assets/04-compressor.jpg" alt="Image">
                </div>
                <div class="col-md-6">
                    <div class="feature-detail">
                        <h3 class="feature-heading feature-heading-3">Gain Momentum</h3>
                        <p class="feature-para">Passionate people change the world and Cofnders fuel the change.
                            When the road is half travelled and it is time to think big, Cofnders will not just put
                            you on the right track but also on the speed track.
                        </p>
                        <div class="btncenter">
                            <a routerLink="/ideas" class="btn btn-primary btn-submit">Scale Your Startup</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-part">
            <div class="row mobile-dir">
                <div class="col-md-6 mobile-order-1">
                    <div class="feature-detail">
                        <h3 class="feature-heading feature-heading-2">Scale beyond limits</h3>
                        <p class="feature-para">You are not alone at the top, your Idea stands next to you. Evolving
                            from a Garage start-up to becoming a legendary unicorn, Make your Idea a monopoly, Make
                            it the cornerstone for generations to come!
                        </p>
                        <div class="btncenter">
                            <a routerLink="/ideas" class="btn btn-primary btn-submit">Explore Funds</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mobile-order-2">
                    <img src="../../../assets/05-compressor.jpg" alt="Image">
                </div>
            </div>
        </div>
        <div class="feature-part" id="Invest in Ideas">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="../../../assets/06-compressor.jpg" alt="Image">
                </div>
                <div class="col-md-6">
                    <div class="feature-detail">
                        <h3 class="feature-heading feature-heading-3">Invest in Ideas</h3>
                        <p class="feature-para">There is no bigger wonder than a seed breaking the ground. You are
                            an established startup Founder, Industry Guru, Incubator or Investor! You transform the
                            legacy of winning perpetually in business! Join the Next Big Thing.
                        </p>
                        <div class="btncenter">
                            <a routerLink="/ideas" class="btn btn-primary btn-submit">Invest in Ideas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="current-alt offset" id="Get in Touch">
    <h2 class="section-heading text-center">
        Get in Touch
    </h2>
    <div class="text-center">
        <p>The time is now and we are here...</p>
    </div>
    <div class="text-center">
        <a routerLink="/ideas" class="btn btn-primary btn-submit">Contact Us</a>
    </div>
</section>