<header>
    <h1 class="heading">PRIVACY POLICY</h1>
</header>
<main class="content">
    <div>
            <p>This Data Protection and Privacy Policy (“Privacy Policy”) informs you of the privacy principles that govern the protection of your personal information in the use of Cofnders.com and its webpages (the “Website”) operated by Cofnders (“we” or
                “Cofnders”). This Privacy Policy will explain how we handle data collected from users of the Website (“You”) and submit information while using the Website through the Internet. This Privacy Policy also covers our treatment of personally identifiable
                information collected from Website information that we acquire in the course of our business.</p>
            <p>
                By accepting this Privacy Policy and the Terms and Conditions, You expressly consent that Your personal information collected by us through the Website may be used and processed as set out in this Privacy Policy and subject to the applicable law and are
                eligible, as per our Terms and Conditions, to use the Website, as applicable. If You do not agree please do not use or access the Website.
            </p>
            <p>
                This Privacy Policy is incorporated into and is subject to the Terms and Conditions. Capitalized terms used but not defined in this Privacy Policy shall have the meaning as assigned thereto in the Terms and Conditions.
            </p>
        </div>
        <div>
            <h3>INFORMATION COLLECTED</h3>
            <p>
                Our primary goal in collecting the information so is to provide the User a safe, efficient, smooth and customized experience.
            </p>
            <p>
                <b>Personal Information</b> – In order to use this Website and our services You may to provide us with certain personal information relating to You, such as your profile image, name, e-mail address and/or phone number.
            </p>
            <p><b>Device Information</b> – We collect information from or about the phone/s, or other devices where You access our Website, depending on the permissions You’ve granted. We may also collect log information such as Your search queries, IP address,
                device information, hardware settings, browser type, browser language, date and time of Your request and URL. However the same is not stored on our systems as it is merely to keep a track on countries in which the Website is functioning</p>
            <p>
                We may send one or more cookies or other anonymous identifiers to Your device to collect and store information when You visit the Website as elaborated in cookie policy
            </p>
        </div>
        <div>
            <h3>HOW WE USE THE INFORMATION PROVIDED</h3>
            <p>The Website gathers the above mentioned information to allow it to process the Website with customized features to the Users and for your efficient use of the Website and our Services. The Website uses the said information to identify whether
                You are a verified user and to improve the performance and reliability of Website. We do not link any of this information in any way to any individuals or any other information or any other information we might obtain. We do not share, sell
                or in any other way give other persons or companies outside Cofnders access to this information except in certain cases as mentioned below in this Privacy Policy or where the ownership of the information’s changes.</p>
            <p>
                We keep your personal information only as long as our services are used by Users and also as permitted/required by applicable law. We delete or anonymize your information upon deletion of Your account, unless the same is required for to comply with legal
                obligations, to address or prevent fraud prevention, and take actions we deem necessary to protect the integrity of our website or our users, to resolve disputes, to enforce our agreements, to support business operations, and to continue to
                develop and improve our Services.
            </p>
            <p>
                Further, we may use the information to keep the Website safe and secure by protecting it from viruses and other malicious content. We may use the information to update You regarding browsers which support our Website.
            </p>
            <p>
                If You choose to avail services on the Website, we collect information about Your browsing or usage behaviour.
            </p>
            <p>
                In case of a paid service on the Website, our system does not receive, store or process any credit/debit card names, numbers, expiration dates, CVV number or equivalent, to effect any payment on our Website. These details are transferred directly from
                Your Website browser to a third-party payment service provider. The protection of Your payment details may be covered by any privacy policy provided by the relevant third party payment service providers
            </p>
        </div>
        <div>
            <h3>DISCLOSURE OF YOUR INFORMATION</h3>
            <p>Your information is important to our business.Cofnders is not in the business of selling Your information to others. However, we may disclose aggregated information about the Users and information that does not identify any individual, without
                restriction.
                <br> We may disclose personal information that we collect or that You provide us, as described in this Privacy Policy:<br> To authorised contractors, service providers and other third parties we use to support our business and who are bound
                by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them;<br> To fulfill the purpose for which You provide it; For any other purpose disclosed by us when You provide
                the information and with Your consent.
            </p>
        </div>
        <div>
            <h3>INTERNAL SERVICE PROVIDERS</h3>
            <p>We may use third parties that we refer to as Internal Service Providers to facilitate or outsource one or more aspects of the business and service operations that we provide to You on the Widget, including all kinds of back end operations, search
                technology, payments, affiliate and rewards programs, co-branded credit cards, maintenance services, database management etc. (“<b>Internal Service Providers</b>”) and therefore we may provide some of Your personal information directly to
                these Internal Service Providers. We expect that these Internal Service Providers would endeavour to use the information we provide them only to facilitate the specific outsourced Website related operation, unless You have explicitly agreed
                or given Your prior permission directly to them for additional uses. In some instances, the Internal Service Provider may collect information directly from You (such as for Widget surveys etc). In these cases, You will be notified of the involvement
                of the Internal Service Provider, and all additional information You provide them and their additional uses will be strictly up to You. If You provide additional information to an Internal Service Provider directly, then their use of Your
                personal information is governed by their applicable privacy policy. Cofnders requires all third parties with whom it shares any Sensitive Personal Information to implement the same level of data protection that Cofnders has adopted, as provided
                for under the IT Rules.</p>
        </div>
        <div>
            <h3>DISCLOSURES REQUIRED BY LAW</h3>
            <p>You agree that all information about You or part of your profile, which has been derived from public sources or available publicly, shall not be treated as confidential information and may be shared by the Cofnders in accordance with the Terms
                and Conditions, this Privacy Policy.<br> Our endeavour is always to that all of Your private communications and other personal information be kept private and is not disclosed in ways not otherwise described in this Privacy Policy. However,
                we may be constrained to disclose Your information, by way of example (without limiting the extent in any way), to the government, regulators, judicial or quasi judicial or investigating authorities or third parties when required by law. Also,
                third parties may unlawfully intercept or access transmissions or private communications, or Users may abuse or misuse Your personal information that they collect from the Website. Therefore, although we use industry standard practices to
                protect Your privacy, You acknowledge and agree that we cannot always ensure that Your personal information or private communications will always remain private.</p>
        </div>
        <div>
            <h3>SECURITY OF DATA</h3>
            <p>Cofnders uses commercially reasonable administrative, technical, personnel and physical measures designed in accordance with the Information Technology Act, 2000 (IT Act) and the Information Technology (Reasonable Security Practices and Procedures
                and Sensitive Personal Data or Information) Rules, 2011 (IT Rules) made there under to safeguard information in its possession against the loss, theft and unauthorised use, disclosure or modification. However, no one can guarantee the complete
                safety of Your information. In order to increase the effectiveness of the security features incorporated through Cofnders, kindly ensure that the Website is kept updated.</p>
        </div>
        <div>
            <h3>COOKIES</h3>
            <p>We may use the information we collect in connection with your use of Cofnders (including your personal information) in order to investigate, enforce, and apply our Terms of Use and Privacy Policy. We send cookies to your computer in order to uniquely
                identify your browser and improve the quality of our service. The term "cookies" refers to small pieces of information that a Website sends to your computer's hard drive while you are viewing the site. We may use both session cookies (which
                expire once you close your browser) and persistent cookies (which stay on your computer until you delete them). Persistent cookies can be removed by following your browser help file directions. If you choose to disable cookies, some areas
                of Cofnders may not work properly or at all. Cofnders uses third party tools, who may collect anonymous information about your visits to Cofnders using cookies, and interaction with Cofnders services. Such third parties may also use information
                about your visits to Cofnders services and other web sites to target advertisements for Cofnder's services. No Personal Information is collected or used in this process. These third parties do not know or have access to the name, phone number,
                address, email address, or any Personal Information about Cofnder's Users. Cofnders Users can opt-out of sharing this information with third parties by deactivating cookies, the process of which varies from browser to browser. Please refer
                to the help file of your browser to understand the process of deactivating cookies on your browser.</p>
        </div>
        <div>
            <h3>INDEMNITY FOR NON-COMPLIANCE OR BREACH</h3>
            <p>You shall indemnify and hold harmless Cofnders and Cofnders’s affiliates, Internal Service Provider and their respective officers, agents, and employees, from and against any and all losses, liabilities, actions, suits, claims, proceedings, costs,
                damages, judgments, amounts paid in settlement and expenses (including without limitation attorneys' fees and disbursements), made by any third party or penalty imposed due to or arising out of Your breach of the Terms and Conditions and Privacy
                Policy incorporated herein by reference, or Your violation of any applicable Law, rules or regulations or the rights of a third party or resulting from untrue, inaccurate, not current or incomplete information provided or verified by You .</p>
        </div>
        <div>
            <h3>TERMS AND MODIFICATIONS TO THIS PRIVACY POLICY</h3>
            <p>Our Privacy Policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically. These changes will be effective immediately on the Users of Cofnder. Please note that at all
                times you are responsible for updating your Personal Information, including to provide us with your most current e-mail address.<br> If you do not wish to permit changes in our use of your Personal Information, you must notify us promptly
                that you wish to deactivate your account with us. Continued use of Cofnders after any change/ amendment to this Privacy Policy shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such
                changes.
            </p>
        </div>
        <div>
            <h3>ELIGIBILITY</h3>
            <p>Please note that to enter into a valid contract with us You should be aged 18 years or above. Minors are prohibited from using Our services and Cofnders are committed to not collecting Personal Information from any minors viewing the Website.
                Cofnders shall not be held responsible and/or liable if You provide false information regarding Your age or any other attributes of your personal information. Cofnders can delete Your access or take all necessary steps, if we become aware
                that You have provided false personal information to us.</p>
        </div>
        <div>
            <h3>APPLICABLE LAW</h3>
            <p>Your use of this Website will be governed by and construed in accordance with the laws of India. The Users agree that any legal action or proceedings arising out of your use may be brought exclusively in the competent courts/ tribunals having
                jurisdiction in Bengaluru in India and irrevocably submit themselves to the jurisdiction of such courts/ tribunals.</p>
        </div>
        <div>
            <h3>LIABILTY</h3>
            <p>We are not liable for any User generated content neither is Cofnders liable for any offences committed by You.</p>
        </div>
        <div>
            <h3>GRIEVANCE OFFICER</h3>
            <p>If You have any questions about our privacy practices, please contact us at the below address:</p>
            <p>Grievance Officer<br>Gaayathri Murugan</p>
            <p>ADMIN@COFNDERS.COM</p>
        </div>
</main>
