<header class="trust-head">
    <h1 class="heading">TRUST AND SAFETY</h1>
</header>
<main class="content">
    <div>
        <p>Your trust in Cofnders is important to us. Cofnders aim is to empower people to unite around ideas that matter to them and together make those ideas come to life. The aim could be better achieved by providing a safe, secure, and trusted platform.</p>
        <p>Cofnders want to provide backers with the information that they need to support innovative ideas as they collaborate to bring creative projects to life.</p>
        <p>We expect everyone to comply with our Terms of Use and keep the lines of communication honest and open</p>
    </div>
    <div>
        <h4>BACKERS</h4>
        <p>The Backers are expected to do the research and know about the project details, information about the person vouching it. You are requested to review the profiles, comments, updates if any, carefully to get a sense of what you are backing.</p>
        <p>We encourage you to report suspicious activity and voice concerns to admin@cofnders.com. Our Trust & Safety team closely works on the feedback provided on the Website and shall take action if required.</p>
    </div>
    <div>
        <h4>STARTUP</h4>
        <p>You should give backers detailed information about your project like team, qualifications, and track record. The more information is provided, the more confident would be the backer. Therefore it develops trust and understand that you’re trustworthy
            and committed to seeing your project through. Be straightforward and honest, give backer the true picture of the project and inform about the risk involved if any.</p>
        <p>Keep the progress very transparent and clear by commenting, communicating and by frequent updates. It is very important to keep the backer engaged so that it helps to establish trust as lack of communication may result in losing faith, request
            for a refund, bad feedback etc.</p>
        <p>Make sure you collaborate with the trusted partners only. Building a strong community and an email list for your ideas are two key factors to succeed. You can reach out to Cofnders to get some tips and the best practise to go forward with the
            same.
        </p>
    </div>
    <div>
        <h4>WE VALUE YOU/ WE ARE LISTENING</h4>
        <p>We are constantly working on to improve the Website and our services. We are listening to your feedback and finding ways to improve our platform so that you feel confident in your decision. Our Trust & Safety team is actively watching our platform
            and reviewing reports from the community. They also investigate and identify if there are any suspicious activity on projects. There is always a risk factor, so Cofnders does not guarantee that contributions will be used as promised, or they
            will achieve the goal. However, if the Terms of Use are violated, we will take action and if required we will suspend them.</p>
        <p>When we receive any questions or concerns regarding a particular project, our Trust & Safety experts review and address these concerns with the Startup owners directly.</p>
        <p>We’re constantly improving our platform and policies to create a better experience for investor and startup However, we can’t make any promises on behalf of the Start ups on our platform, and we can’t guarantee that every incredible idea will
            come to life. To that end, Cofnders does not resolve disputes, nor do we offer refunds once funds have been disbursed.
        </p>
        <p>We are listening. You can reach out to us on admin@cofnders.com. Our team will get back to you at the earliest to resolve the query.</p>
    </div>
</main>