.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #000000 !important;
}

.uploader-status {
    margin-top: 30vh;
    margin-left: 45vw;
    // transform: translateX(-330%);
}