:host /deep/ mat-card .mat-card-avatar {
    width: 5rem;
    height: 5rem;
}

:host /deep/ mat-card .mat-card-content {
    margin-bottom: 0;
}

a:link, a:visited {
    text-decoration: none;
}

.card {
    border-radius: 8px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 0;
    margin-bottom: 5rem;

    &__header {
        border-bottom: 1px solid rgba(112, 112, 112, 0.3);
        padding: 1.6rem 1.6rem 0 1.6rem;
        display: flex;
    }

    &__btn {
        &--responses {
            cursor: default;
        }
    }

    .project {
        &__logo {
            // height: 100%;
            // width: 100%;
            // border-radius: 50%;

            :host /deep/ & > img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
            
        }

        &__name {
            font-size: 2rem;
        }

        &__createdBy {
            font-size: 1.35rem;
        }

        &__status {
            font-size: 1.3rem;
            padding: .6rem;

            &--approved {
                color: #08ce2e;
            }

            &--rejected {
                color: red;
            }

            &--pending {
                color: #00BCD4;
            }
        }

        &__createdAt {
            // position: absolute;
            // right: 2rem;
            margin-left: auto;
            font-size: 1.4rem;
            color: rgb(112, 112, 112);
        }

        &__options {
            margin: 0 .5rem 0 2rem;
            align-self: end;
            opacity: .6;
            background: transparent;
            border: none;
        }

        &__pitch {
            margin-top: 1rem;
            padding: 1.6rem;
        }

        &__details {
            padding: 1.6rem;
            display: flex;
            flex-wrap: wrap;

            & > * {
                width: 50%;
                padding: 1rem;
                font-size: 1.2rem;
            }
        }

        &__links {
            display: flex;
            flex-wrap: wrap;
            width: 100% !important;

            & > * {
                width: 50%;
                display: flex;
                flex-direction: column;
                padding: 1rem;
            }

            &--heading {
                padding-bottom: .5rem;
            }

            &--link:link,  &--link:visited {
                word-break: break-all;
                text-decoration: none;
                color: #007bff;
            }

            &--iconBox{
                padding: .35rem;
                background-color: darkgray;
                border-radius: 50%;
                margin: 1rem;

                @media only screen and (max-width:790px){
                    padding: 0;
                    margin: 0 1rem;
                }

                .svg--facebook {
                    transform: translate(0,1.4px);
                }

                .svg--twitter {
                    transform: translate(1px, .5px);
                }

                .svg--linkedIn {
                    transform: translate(0.8px, -0.8px);
                }
            }

            &--icon {
                fill: white;
                margin: .15rem;
            }
        }

        &__website {
            padding: 0 !important;
        }

        &__socials {
            display: flex;
            font-size: .5rem;
        }

        &__coverImageBox {
            height: auto;
        }

        &__coverImage {
            // height: 100%;
            // width: 100%;
            // border-bottom: 1px solid rgba(112, 112, 112, 0.3);

            :host /deep/ & > img {
                height: 100%;
                width: 100%;
                border-bottom: 1px solid rgba(112, 112, 112, 0.3);
            }
        }

        &__cardActions {
            display: flex;
            justify-content: flex-end;
            padding: 0.8rem 2.5rem 1.5rem 0;
        }
    }
}

.border {
    height: 1px;
    background-color: rgba(112, 112, 112, 0.3);
    margin-bottom: .8rem !important;
}