.funds {
    margin-top: 1rem;
}

// .noPosts {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     &__icon {
//         cursor: pointer;
//     }
//     &__text {
//         font-size: 2rem;
//         padding: 2rem;
//     }
// }

.noData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 3rem;

    & > .text {
        text-align: center;
        padding: .5rem;

        & > h3 {
            font-size: 1.7rem;
        }

        & > h5 {
            font-size: 1.4rem;
        }
    }
}