<navbar class="container" style="background-color: black; padding: .5rem 0 0 0;" *ngIf="!(router.url.includes('/about'))"></navbar>
<app-filter class="container" style="-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125); 
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.125); position: sticky; top:0; z-index: 1; background-color: #fff;" *ngIf="(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/')"></app-filter>

<!-- <div > -->
<div class="container" style="padding-top: 2.5rem; background-color: #f9f9f9; margin-top: 3px">
    <aside class="aside-1" *ngIf="(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/')">
        <profile-card></profile-card>
        <span class="copyright__cofnders">&copy; Cofnders 2019</span>
    </aside>
    <router-outlet></router-outlet>
    <aside class="aside-2" *ngIf="(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/')">
        <cta></cta>
        <recent-card *ngIf="(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/')"></recent-card>
        <app-footer *ngIf="(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/')"></app-footer>
    </aside>
</div>
<footer-black *ngIf="!(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/'||router.url.includes('/callback'))"></footer-black>