<navbar></navbar>
<div class="container">
    <profile-card *ngIf="(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/')"></profile-card>
    <router-outlet></router-outlet>
    <cta *ngIf="(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/')"></cta>
    <recent-card *ngIf="(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/')"></recent-card>
    <app-footer *ngIf="(router.url.includes('/ideas')||router.url.includes('/funds')||router.url === '/')"></app-footer>
</div>