<div>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="card__heading">Recent Ideas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul *ngIf="(res$ | async) as data" class="list">
        <li *ngFor="let a of data.trending" class="data">
          <div class="logo__box">
              <cl-image [public-id]="a.logo.substr(54)" class="logo" alt="Project Logo" secure="true">
                  <cl-transformation  width="25" height="25" crop="fill"  quality="auto" fetch-format="auto" dpr="auto">
                  </cl-transformation>
              </cl-image>
            <!-- <img [clSrc]="a.logo" alt="Project Logo" class="logo" quality="auto" width="25" height="25" fetch-format="auto" dpr="auto"> -->
          </div>
          <div class="projectName">{{a.projectName}}</div>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
