<header>
  <h1 class="heading">TERMS OF USE</h1>
</header>
<main class="content">
    <div>
        <h3>1. INTRODUCTION AND TERMS OF USE</h3>
        <p>The terms and conditions contained hereinafter (“<b>TERMS OF USE</b>”) shall apply to the use of the domain name Cofnders.com and any other linked pages, features, content or application services (including but without limitation to any mobile
            application services) offered from time to time by (“<b>COFNDERS</b>” or “<b>WE</b>” or “<b>OUR</b>” or “<b>US</b>”) (collectively, "<b>WEBSITE</b>").
        </p>
        <p>
            The Services being offered through this Website includes Exploring startups and Funding opportunities. Any person logging on to or using the Website, even when such person does not avail of any services provided in the Website. (“USER” or “YOU”) shall
            be presumed to have read these Terms of Use (which includes the Privacy Policy, separately provided on the Website) and unconditionally accepted the terms of use set out herein and this constitutes a binding and enforceable agreement between
            the User and Cofnders. These Terms of Use does not alter in any way the terms or conditions of any other written agreement you may have with Cofnders for other services.
        </p>
        <p>
            Please read the terms set out hereunder carefully before agreeing to the same. If you do not agree to these Terms of Use please immediately terminate your use of the Website. You can accept the Terms of Use by:
        </p>
        <ul>
            <li>Clicking to accept or agree to the Terms of Use, where this option is made available to you by Cofnders in the User interface for any particular Service; or</li>
    
            <li>
                Accessing or actually using the Services. In this case, you understand and agree that Cofnders will treat your use of the Services as acceptance of the Terms of Use from that point onwards.
            </li>
        </ul>
        <p>
            For the purpose of these Terms of Use, wherever the context so requires, the term “User” shall mean and include any natural or legal person who has agreed to these Terms of Use on behalf of herself or any other legal entity.
        </p>
        <p>It is clarified that the Privacy Policy (that is provided separately), form an integral part of these Terms of Use and should be read in conjunction. Illegality or unenforceability of one or more provisions of these Terms of Use shall not affect
            the legality and enforceability of the other terms of the Website.</p>
        <p>The Terms of Use may be revised or altered by us at our sole discretion at any time without any prior intimation to the User. The latest Terms of Use will be posted here. Any such changes by Cofnders will be effective immediately. By continuing
            to use this Website or access/ usage of our Services after changes are made, you agree to be bound by the revised/ amended Terms of Use. You are solely responsible for understanding and complying with all applicable laws of your specific jurisdiction
            that may be applicable to you in connection with your business and use of our Services.</p>
    </div>
    <div>
        <h3>2. PROVISION OF THE SERVICES BEING OFFERED BY COFNDERS</h3>
        <p>Cofnders is constantly evolving in order to provide the best possible experience and information for its Users. You acknowledge and agree that the form and nature of the Services which Cofnders provides may change from time to time without any
            prior notice to you.
        </p>
        <p>As part of this continuing process, you acknowledge and agree that Cofnders may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to Users generally at Cofnders's sole discretion, without
            any prior notice. You may stop using the Services at any point of time. You do not need to specifically inform Cofnders when you stop using the Services.</p>
        <p>You acknowledge and agree that if Cofnders disables access to your account, you may be prevented from accessing the Services, your account details or any files or other content which is contained in your account and Cofnders shall intimate to
            you regarding the same.</p>
        <p>Cofnders reserves the right to delete your User information stored in your account including but not limited to all or any personal information or any sensitive personal data or information (“SPDI”) stored in your User account. Alternately, a
            User may notify us if they do not wish that We retain or use the personal information or SPDI by contacting the Grievance Officer (as provided below). However, in such a case, We may not be able to provide you some or all of our Services.</p>
        <p>You acknowledge and agree that while Cofnders may not currently have set a fixed upper limit on the number of transmissions and amount involved in the transactions you may send or receive through the Services, such fixed upper limits may be set
            by Cofnders at any time, solely at Cofnders's discretion.</p>
        <p>By using our Services you agree that Cofnders disclaims any liability for any information that may have become outdated since the last time the particular piece of information was updated. Cofnders reserves the right to make changes and corrections
            to any part of the content of this Website at any time without any prior notice.</p>
    </div>
    <div>
        <h3>3. USE OF THE SERVICES BY USER</h3>
        <p>In order to access certain Services, you may be required to open a User account with Cofnders by providing information about yourself (such as identification or contact details) as part of the registration process (“REGISTRATION DATA”) for the
            Services, or as part of your continued use of the Services.</p>
        <p>You agree that any Registration Data may include the provision verification documents as specified from time to time you give to Cofnders will always be accurate, correct, complete and up to date. If you provide any information that is untrue,
            inaccurate, incomplete, or not current or if We have reasonable grounds to suspect that such information is not in accordance with the Terms of Use (whether wholly or in part), We reserve the right to reject your registration and/ or indefinitely
            suspend or terminate your User account and to refuse to provide you access to the Website. Further, you agree to indemnify and keep us indemnified from and against all claims resulting from the use of any detail/ information/ Registration
            Data that you post and/ or supply to us. We shall be entitled to remove any such detail/ information/ Registration Data posted by you without any prior intimation to you.</p>
            <p>Subject to the privacy policy, in order to ensure that We are not violating any right that you might have in your Registration Data, you hereby grant to us a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right
            to exercise the copyright, publicity, and database rights (but no other rights) that you have in the Registration Data, in any media now or in future known, with respect to your Registration Data solely to enable us to use such Registration
            Data that you have supplied to us for you to use our services.</p>
        <p>Any amendment or rectification of your Registration Data in the User account can be carried out by accessing the “User account” section on the Website. You may delete your User content or User account at any time. We may maintain backup of all
            User content for such time as may be required under applicable laws and for operational purposes of Cofnders. You are solely responsible for maintaining the confidentiality of your account and password and for any activity that occurs in or
            through your account. We will not be liable to any person for any loss or damage which may arise as a result of any failure by you to protect your password or account. You should take all necessary steps to ensure that the password is kept
            confidential and secure. In case you have any reason to believe that your password has become known to anyone else, or if the password is being, or is likely to be, used in an unauthorised manner, please change your password immediately. In
            the event of any dispute between two or more parties as to ownership of any particular account with Cofnders, you agree that Cofnders will be the sole arbitrator of such a dispute and that Cofnders’s decision in this regard will be final and
            binding on all parties.
        </p>
        <ul>
            <li>
                You understand and undertake that you shall be solely responsible for the Registration Data and the User content and undertake neither by yourself nor by permitting any third party to host, display, upload, modify, publish, transmit, update or share any
                information that:
            </li>
            <li>
                belongs to another person and to which you do not have any right to;
            </li>
            <li>
                is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, seditious, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling,
                or otherwise unlawful in any manner whatever;
            </li>
            <li>
                harms minors in any way;
            </li>
            <li>
                infringes any patent, trademark, copyright or other proprietary rights of any person anywhere in the world;
            </li>
            <li>
                violates any law for the time being in force;
            </li>
            <li>deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;</li>
            <li>impersonates another person;</li>
            <li>contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;</li>
            <li>threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence
                or is insulting to any other nation; or</li>
            <li>is illegal in any other way.</li>
        </ul>
        <p>You agree and understand that Cofnders reserves the right to remove and/or edit such detail / information. If you come across any information as mentioned above on the Website, immediately contact our Grievance officer.</p>
        <p>You agree to use the Services only for purposes that are permitted by (a) these Terms of Use and (b) any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions.</p>
        <p>You agree to use the data owned by Cofnders (as available on the Website or through any other means like API etc) only for personal purposes and not for any commercial use unless agreed to with Cofnders in writing.</p>
        <p>You agree not to access (or attempt to access) any of the Services by any means other than through the interface that is provided by Cofnders, unless you have been specifically allowed to do so in a separate agreement with Cofnders. You specifically
            agree not to access (or attempt to access) any of the Services through any automated means (including use of scripts or web crawlers) and shall ensure that you comply with the instructions set out in any robots.txt file present on the Services.</p>
        <p>You agree that you will not engage in any activity that interferes with or disrupts the Services (or the servers and networks which are connected to the Services) on this Website.</p>
        <p>Unless you have been specifically permitted to do so in a separate agreement with Cofnders, you agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose.</p>
        <p>You agree that you are solely responsible for (and that Cofnders has no responsibility to you or to any third party for) any breach of your obligations under the Terms of Use and for the consequences (including any loss or damage which Cofnders
            may suffer) of any such breach. You further agree to the use of your data in accordance with the Privacy Policy.</p>
        <p>Cofnders may share any Content generated by the User or their Registration Data with governmental agencies who are lawfully authorised for investigative, protective, cyber security activities. Such information may be transferred for the purposes
            of verification of identity, or for prevention, detection, investigation, prosecution, cyber security incidents and punishment of offences under any law for the time being in force.</p>
    </div>
    <div>
        <h3>4. ELIGIBILITY</h3>
        <p>Any person who is above 18 (eighteen) years of age and competent to contract under the applicable laws is eligible to access or visit the Website or avail the Services displayed therein. Your use or access of the Website shall be treated as your
            representation that you are competent to contract and if you are registering as a business entity, that you represent and warrant that you have the authority to bind such business entity to the Terms of Use. Without generality of the foregoing,
            use of the Website is available only to persons who can form a legally binding contract under the Indian Contract Act 1872.</p>
        <p>The User represents and warrants that it will be financially responsible for all of User's usage (including the purchase of any Service) and access of the Website. The User shall also be responsible for use of User's account by others. The Terms
            of Use shall be void where prohibited by applicable laws, and the right to access the Website shall automatically stand revoked in such cases.</p>
        <p>The User represents and warrants that it will be financially responsible for all of User's usage (including the purchase of any Service) and access of the Website. The User shall also be responsible for use of User's account by others. The Terms
            of Use shall be void where prohibited by applicable laws, and the right to access the Website shall automatically stand revoked in such cases.</p>
    </div>
    <div>
        <h3>5. LIABILITIES</h3>
        <p>In no event shall Cofnders or its affiliates, Agents and Authorized Service Providers be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill,
            use, data or other intangible losses arising (in any manner whatsoever) out of or in connection with the Website.</p>
        <p>Nothing in these terms, including Exclusion of Warranties and Limitation of Liability, shall exclude or limit Cofnders's warranty or liability for losses which may not be lawfully excluded or limited by applicable law. Some jurisdictions do not
            allow the exclusion of certain warranties or conditions or the limitation or exclusion of liability for loss or damage caused by negligence, breach of contract or breach of implied terms, or incidental or consequential damages. Accordingly,
            only the limitations which are lawful in your jurisdiction will apply to you and our liability will be limited to the maximum extent permitted by law.</p>
        <p>You expressly understand and agree that your use of the Services is at your sole risk and that the Services are provided on an "as is" and "as available" basis.</p>
        <p>In particular, Cofnders, its parent company, subsidiaries and affiliates, and its licensors do not represent or warrant to you that:</p>
        <ul>
            <li>The information or contents provided on the Website will be accurate, complete and updated;
            </li>
            <li>Your use of the Services will meet your requirements;</li>
            <li>Your use of the Services will be uninterrupted, timely, secure or free from error;</li>
            <li>Any information obtained by you as a result of your use of the Services will be accurate or reliable, and</li>
            <li>That defects in the operation or functionality of any software provided to you as part of the Services will be corrected.</li>
        </ul>
        <p>Any material downloaded or otherwise obtained through the use of the Services is done at your own discretion and risk and that you will be solely responsible for any damage to your computer system or other device or loss of data that results from
            the download of any such material.
        </p>
        <p>No advice or information, whether oral or written, obtained by you from Cofnders or from the use of Services shall create any warranty not expressly stated in the terms.</p>
        <p>Cofnders further expressly disclaims all warranties and conditions of any kind, whether express or implied, including, but not limited to the implied warranties and conditions of merchantability, fitness for a particular purpose and non-infringement.</p>
        <p>In no event shall Cofnders, its officers, employees, contractors or agents be liable to You or any other person or entity for any direct, indirect, remote, incidental, special, punitive, or consequential damages whatsoever, including any that
            may result from:</p>
        <ul>
            <li>the accuracy, completeness, or content of the Website,</li>
            <li>the accuracy, completeness, or content of the Website,</li>
            <li>the services found at the Website or any sites linked (through hyperlinks, banner advertising or otherwise) to the Website</li>
            <li>personal injury or property damage of any nature whatsoever,</li>
            <li>third-party conduct of any nature whatsoever</li>
            <li>any unauthorized access to or use of our servers and/or any and all content, personal information, financial information or other information and data stored therein,</li>
            <li>any interruption or cessation of services to or from the Website,</li>
            <li>any viruses, worms, bugs, Trojan horses, or the like, which may be transmitted to or from any sites linked (through hyperlinks, banner advertising or otherwise) to the Website,</li>
            <li>any user content or content that is defamatory, harassing, abusive, harmful to minors or any action taken by minors by the use of the Website or any protected class, pornographic, “x-rated”, obscene or otherwise objectionable, and/or</li>
            <li>any loss or damage of any kind incurred as a result of Your use of the website whether based on warranty, contract, tort, or any other legal or equitable theory, and whether or not Cofnders is advised of the possibility of such damages.</li>
        </ul>
        <p>The foregoing limitation of liability shall apply to the fullest extent permitted by law, and shall survive any termination or expiration of these Terms or Your use of the Website.</p>
        <p>You acknowledge and undertake that you are accessing the services on the Website and transacting at your own risk and are using your best and prudent judgment before entering into any transactions through the Website.</p>
        <p>Cofnders shall neither be liable nor responsible for any actions or inactions of the parties transacting nor any breach of conditions, any or all responsibility and liability in that regard.</p>
        <p>Cofnders shall not mediate or resolve any dispute or disagreement between the parties.</p>
        <p>You agree, understand and acknowledge that the Website is an online platform that enables the parties to discover ideas. You further agree and acknowledge that Cofnders is only a facilitator and is not and cannot be a party to or control in any
            manner any transactions on the Website.
        </p>
    </div> 
    <div>
        <h3>6. INDEMNITY FOR NON-COMPLIANCE OR BREACH</h3>
        <p>You shall indemnify and hold harmless Cofnders and Cofnders’s, affiliates, Authorized service Provider and their respective officers, agents, and employees, from and against any and all losses, liabilities, actions, suits, claims, proceedings,
            costs, damages, judgments, amounts paid in settlement and expenses (including without limitation attorneys' fees and disbursements), made by any third party or penalty imposed due to or arising out of Your breach of the Terms of Use and Privacy
            Policy incorporated herein by reference, or Your violation of any applicable Law, rules or regulations or the rights of a third party or resulting from untrue, inaccurate, not current or incomplete information provided or verified by You .</p>
    </div>
    <div>
        <h3>7. COFNDERS SOFTWARE TERMS</h3>
        <p>User may use Cofnders Software solely for purposes of enabling you to use and enjoy the Cofnders Services as provided by Cofnders, and as permitted by the Terms of Use.</p>
        <p>User may not incorporate any portion of the Cofnders Software into your own programs or compile any portion of it in combination with your own programs, transfer it for use with another service, or sell, rent, lease, lend, loan, distribute or
            sub-license the Cofnders Software or otherwise assign any rights to the Cofnder Software in whole or in part. User may not use the Cofnders Software for any illegal purpose.</p>
        <p>Cofnders may cease providing any Cofnders Software and We may terminate your right to use any Cofnders Software at any time. Your rights to use the Cofnders Software will automatically terminate without notice from us if you fail to comply with
            any of these Terms of Use or any other Terms. All software used in any Cofnders Service is the property of Cofnders and/or its affiliates or its software suppliers and protected by laws of India including but not limited to any other applicable
            copyright laws.</p>
        <p>When you use the Cofnders Software, you may also be using the services of one or more third parties, such as a wireless carrier or a internet provider. Your use of these third party services may be subject to the separate policies, terms of use,
            and fees of these third parties.</p>
        <p>You may not, and you will not encourage, assist or authorize any other person to copy, modify, reverse engineer, decompile or disassemble, or otherwise tamper with, the Cofnders Software, whether in whole or in part, or create any derivative works
            from or of the Cofnders Software.
        </p>
        <p>In order to keep the Cofnders Software up-to-date, We may offer automatic or manual updates at any time and without notice to you.</p>
    </div>
    <div>
        <h3>8. INTELLECTUAL PROPERTY</h3>
        <p>All the contents included on the Website, such as text, graphics, logos, images, audio clips, software etc is the property of Cofnders, its affiliates and is protected by copyright law in India. You may not systematically extract/ or re-utilise
            parts of the contents of the Website without (insert full legal name) and / or its affiliate's (as may be applicable) express written consent.
        </p>
        <p>In particular, you may not utilise any data mining, robots, or similar data gathering and extraction tools to extract (whether once or many times) for re-utilisation of any substantial parts of this Website, without (insert full legal name) and
            / or its affiliate's (as may be applicable) express written consent.</p>
        <p>(insert full legal name) and its affiliates respect the intellectual property of others. If you believe that your intellectual property rights have been used in a way that gives rise to concerns of infringement, please contact the grievance officer
            @ ______</p>
        <p>Cofnders, (insert full legal name), [insert domain name] and other marks indicated on our Website are trademarks of Cofnders ([insert domain name) or its subsidiaries (collectively "Cofnders"), Cofnders graphics, logos, page headers, button icons,
            scripts and service names are the trademarks of Cofnders. . All other trademarks not owned by Cofnders that appear on this Website are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored
            by Cofnders.</p>
    </div>
    <div>
        <h3>9. CONTENT IN THE SERVICES</h3>
        <p>If you submit any material on the Website you agree thereby to grant Cofnders the right to use, moderate, publish any such work worldwide for any of its product(s), whether owned or affiliated.
        </p>
        <p>You understand that by using the Services you may be exposed to Content that you may find offensive, indecent or objectionable and that, in this respect, you use the Services at your own risk.
        </p>
        <p>You agree that you are solely responsible for (and that Cofnders has no responsibility to you or to any third party for) any Content that you create, transmit or display while using the Services and for the consequences of your actions (including
            any loss or damage which Cofnders may suffer) by doing so.</p>
    </div>
    <div>
        <h3>10. TRANSFER OF DATA ABROAD</h3>
        <p>If you are visiting/accessing the Website from a country other than India, your communications with us may result in the transfer of information (including your Account information) across international boundaries. By visiting/accessing the Website
            and communicating electronically with us and by acceptingTerms and Conditions and Privacy Policy, you consent to such transfers. By accepting these Terms and/or Privacy Policy, you agree to subject the relationship between Cofnders and yourself
            to applicable Indian law and thereby you agree and acknowledge that none of the laws including in respect of contract between Cofnders and you, data privacy etc. of the country where you are based or any other country will apply.</p>
    </div>
    <div>
        <h3>11. PRIVACY POLICY</h3>
        <p>The User hereby consents, expresses and agrees that you have read and fully understands the Privacy Policy of Cofnders in respect of the Website. You further consent that the terms and contents of such Privacy Policy are acceptable to You.</p>
    </div>
    <div>
        <h3>12. SEVERABILITY</h3>
        <p>If, for any reason, a court of competent jurisdiction finds any provision of the Term of Use, or portion thereof, to be unenforceable, that provision shall be enforced to the maximum extent permissible so as to give effect to the intent of the
            parties as reflected by that provision, and the remainder of the Terms and Conditions shall continue in full force and effect.</p>
    </div>
    <div>
        <h3>13. GRIEVANCE OFFICER</h3>
        <p>If You have any questions, please send contact us an e-mail at the below address:</p>
        <p>Grievance Officer</p>
        <p>Gaayathri Murugan</p>
        <p>at admin@cofnders.com</p>
    </div>
    <div>
        <h3>14. GOVERNING LAW AND JURISDICTION</h3>
        <p>Any claim, differences or dispute arising under or in connection with or in relation here to this Terms of Use and the Privacy Policy shall be governed by the applicable laws in force in India.
        </p>
        <p>You agree, as We do, to submit to the exclusive jurisdiction of the courts at Bengaluru, Karnataka, India.</p>
    </div>
</main>