::ng-deep .mat-dialog-container {
    padding: 2.4rem 0 0 0;
}

.btn__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 1.25rem;
    opacity: .2;
    padding: 0 !important;
}

.heading {

    &__sub {
        font-size: 1.4rem;
        color: #ababab;
        padding-top: .5rem;
    }
}

.applyFunds {
    &--form {
        position: relative;

        & > *:not(:last-child) {
            padding: 0 2.4rem;
        }
    }

    &__form {
        & > div {
            padding: 1rem;
        }

        & > div:first-child {
            padding-top: 3rem;
        }

        & > div > mat-form-field{
            width: 100%;
            font-size: 150%;
            padding: 0 1.5rem;
        }
    }

    &__pdf {
        &--box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            
        }

        display: none;

        &--input-box {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            background-color: #e9ecef;
            border: 3px solid #DFDFDF;
            border-radius: 5px;
            // padding: 0 1.5rem;
            margin: 1rem;
        }

        &--text {
            font-size: 1.3rem;
            font-weight: 700;
            color: #495057;
            padding: 0 1rem;
            margin-left: 4rem;
            border-left: 1px solid #ced4da;
        }

        &--label {
            background: #e9ecef;
            font-weight: 700;
            padding: 1.2rem 0 1.2rem 6rem;
            font-size: 1.3rem;
            color: #495057;

            @media only screen and (max-width: 342px){
                padding: 1.2rem 0 1.2rem 4rem;
            }
            
        }

        &--label:hover{
            cursor: pointer;
        }
    }
}

.file-css {
    margin-top: 1rem;
    font-style: italic;
    font-size: 1.1rem;
    color: rgba(0,0,0,0.5);
    padding: 0 1.5rem;
}

.characterCount {
    padding: 0 1.5rem;
}


.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #000000;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5rem;
}