/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$color-font : rgba(0,0,0,.87);
$black-color: black;

*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
} 

html {
    font-size: 62.5%; // 1rem is 10 px

    @media only screen and (max-width:575px){
        font-size: 50%;
    }
}

body {
    font-family: 'Roboto','Helvetica Nue', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-font;
    box-sizing: border-box;
}

.container {

    margin: 0 auto;
    padding:  0 1.5rem;

    @media only screen and (min-width: 460px) {
        width: 100%;
        max-width: 430px;
    }


    @media only screen and (min-width: 576px) {
        width: 560px;
        max-width: 550px;
    }

    @media only screen and (min-width: 650px) {
        width: 630px;
        max-width: 620px;
    }

    @media only screen and (min-width: 768px) {
        width: 740px;
        max-width: 720px;
    }

    @media only screen and (min-width: 874px) {
        width: 860px;
        max-width: 830px;
    }

    @media only screen and (min-width: 992px) {
        width: 970px;
        max-width: 960px;
    }

    @media only screen and (min-width: 1200px) {
        width: 1170px;
        max-width: 1140px;
    }

    @media only screen and (min-width: 1400px) {
        width: 1370px;
        max-width: 1340px;
    }

    @media only screen and (min-width: 1600px) {
        width: 1570px;
        max-width: 1540px;
    }

    @media only screen and (min-width: 1800px) {
        width: 1770px;
        max-width: 1740px;
    }

    @media only screen and (min-width: 2000px) {
        width: 1970px;
        max-width: 1940px;
    }

    @media only screen and (min-width: 2200px) {
        width: 2170px;
        max-width: 2140px;
    }
}

.btn {
    cursor: pointer;
}