/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

$color-font : #333;
$black-color: black;

*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
} 

html {
    font-size: 62.5%; // 1rem is 10 px

    @media only screen and (max-width:990px){
        font-size: 58%;
    }

    @media only screen and (max-width:910px){
        font-size: 55%;
    }

    @media only screen and (max-width:810px){
        font-size: 52%;
    }

    // @media only screen and (max-width:575px){
    //     font-size: 55%;
    // }

    @media only screen and (max-width:375px){
        font-size: 50%;
    }

    @media only screen and (max-width:319px){
        font-size: 45%;
    }

}

body {
    font-family: 'Roboto','Helvetica Nue', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-font !important;
    box-sizing: border-box;
}

[hidden] { display: none !important;}

.btn--app {
    cursor: pointer;
}

.btn--round {
    // border: 1px solid #00BCD4; 
    background: #007888;
    // background: #00BCD4;
    color: whitesmoke;
    // color: #fff;
    font-weight: 300;
    display: inline-block;
    padding: 0 1.2rem;
    font-size: 1.4rem;
    border-radius: 2.4rem 2.4rem 2.4rem 2.4rem;
    min-height: 3.8rem;
    text-align: center;

    &:hover {
        background: #ffda00;
        color: #000;
        // border: 2px solid #ffc400;
        transition-duration: 400ms;
    }
}

button:disabled {
    background: #ADADAD;
    cursor: default;
    color: #000;
    border: none;
    font-weight: 500;
}

button:disabled:hover {
    background: #ADADAD;
    cursor: default;
    border: none;
}