::ng-deep mat-card .mat-card-avatar {
    width: 5rem;
    height: 5rem;
}

::ng-deep mat-card .mat-card-content {
    margin-bottom: 0;
}

.card {
    border-radius: 8px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 0;
    margin-bottom: 5rem;

    &__header {
        border-bottom: 1px solid rgba(112, 112, 112, 0.3);
        padding: 1.6rem 1.6rem 0 1.6rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        @media only screen and (max-width:874px){
            padding: 1rem 1.6rem 0 1.6rem;
        }
    }

    &__btn {
        &--responses {
            cursor: default;
        }
    }

    .opportunity {

        &__logo {
            ::ng-deep & > img {
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }

        &__projectName {
            font-size: 2rem;
            max-width: 10vw;
            overflow: hidden;
            margin: 0 16px;
        }

        &__createdBy {
            font-size: 1.35rem;
            margin: 0 16px;
        }

        &__createdAt {
            // position: absolute;
            // right: 2rem;
            margin-left: auto;
            font-size: 1.4rem;
            color: rgb(112, 112, 112);
        }

        &__options {
            margin: 0 .5rem 0 2rem;
            -ms-flex-item-align: end;
                align-self: end;
            opacity: .6;
            background: transparent;
            border: none;
        }

        &__content {
            padding: 1.6rem;
            border-bottom: .1rem solid rgba(112, 112, 112, 0.3);

            @media only screen and (max-width:874px){
                padding: 1rem;
            }

        }

        &__details {
            margin-top: 1rem;
            padding: 1.6rem 0;

            @media only screen and (max-width:874px){
                margin: 0;
                padding: 1rem;
            }
        }

        &__requirement {
            font-size: 1.4rem;
            padding: 0 1rem;
        }

        // & > .project {
        //     margin-top: 3rem;

        //         &__heading {
        //             color: rgba(0,0,0,.54);
        //             font-size: 1.5rem;
        //             font-weight: 700;
        //         }

        //         &__details, &__links, &__website, &__links--social {
        //             display: -webkit-box;
        //             display: -ms-flexbox;
        //             display: flex;
        //             -ms-flex-wrap: wrap;
        //                 flex-wrap: wrap;
        //         }

        //         &__website, &__links--social  {
        //             -webkit-box-orient: vertical;
        //             -webkit-box-direction: normal;
        //                 -ms-flex-direction: column;
        //                     flex-direction: column;
        //         }

        //         &__details > div , &__website, &__links--social  {
        //             width: 45%;
        //             padding: 1rem;
        //             font-size: 1.2rem;
        //         }

        //         &__links--link:link, &__links--link:visited {
        //             text-decoration: none;
        //             color: #007bff;
        //             word-break: break-all;
        //         }

        //         &__socials {
        //             display: -webkit-box;
        //             display: -ms-flexbox;
        //             display: flex;
        //         }

        //         &__links {
        //             &--iconBox{
        //                 padding: .35rem;
        //                 background-color: darkgray;
        //                 border-radius: 50%;
        //                 margin: 1rem;

        //                 @media only screen and (max-width:790px){
        //                     padding: 0;
        //                     margin: 0 1rem;
        //                 }
        //             }
        
        //             &--icon {
        //                 fill: white;
        //                 margin: .15rem;
        //                 -webkit-transform: translate(1px, 2.5px);
        //                         transform: translate(1px, 2.5px);
        //             }

        //             .svg--twitter {
        //                 -webkit-transform: translate(1px, 3.5px);
        //                         transform: translate(1px, 3.5px);
        //             }

        //             .svg--facebook {
        //                 -webkit-transform: translateY(4px);
        //                         transform: translateY(4px);
        //             }
        //         }

        //         &__coverImageBox {
        //             max-width: 100%rem;
        //         }

        //         ::ng-deep &__coverImage > img {
        //             width: 100%;
        //         }
        //     }

        &__cardActions {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
                -ms-flex-pack: end;
                    justify-content: flex-end;
            padding: 1.2rem 2.5rem 1.5rem 0;
        }
    }
}

.project {
    &__details, &__links {
        display: flex;
        flex-wrap: wrap;

        & > * {
            width: 45%;
            padding: 1rem;
            font-size: 1.2rem;
        }
    }

    ::ng-deep &__coverImage > img {
        border-radius: 4px;
    }

    &__links--link:link, &__links--link:visited {
        text-decoration: none;
        color: #007bff;
        word-break: break-all;
    }

    &__socials {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__links {
        &--iconBox{
            padding: .35rem;
            background-color: darkgray;
            border-radius: 50%;
            margin: 1rem;

            @media only screen and (max-width:790px){
                padding: 0;
                margin: 0 1rem;
            }
        }

        &--icon {
            fill: white;
            margin: .15rem;
            -webkit-transform: translate(1px, 2.5px);
                    transform: translate(1px, 2.5px);
        }

        .svg--twitter {
            -webkit-transform: translate(1px, 3.5px);
                    transform: translate(1px, 3.5px);
        }

        .svg--facebook {
            -webkit-transform: translateY(4px);
                    transform: translateY(4px);
        }
    }
}

